<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
  -->
    <connectionStrings>
      <add name="Context"
        connectionString="Server=adbf60e1-c6b7-4a80-a28f-a5b500dc2165.sqlserver.sequelizer.com;Database=dbadbf60e1c6b74a80a28fa5b500dc2165;User ID=suuaidyfloihcynj;Password=Fu8eqbfKzkJeeMMsbaMPxyv7Lb5pB2ZhY3nxiRQPRkHjE3iX3bpfsY6h8bApfYiG;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="Off" />
  </system.web>
</configuration>
